@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@400;500;600;700;800;900&display=fallback');

@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 100;
    margin: 0 auto;
}

.title {
    position: relative;
    max-width:auto;
    text-align:center;
    padding-top: 10;
    padding-bottom: 16;
    display: grid;
}

/* Untuk ukuran layar yang lebih kecil dari 768px */

/* Untuk ukuran layar yang lebih besar atau sama dengan 768px */
@media screen and (min-width: 768px) {
  .wrapper {
      max-width: 768px;
      padding: 0 20px;
    }
    
    .title {
      padding-top: 10px;
      padding-bottom: 16px;
    }

    .main-wrapper {
      display: flex;
      /* flex-wrap: wrap; */
      /* flex-direction: row; */
      /* flex-direction: column; */
      /* justify-content: space-between; */
    }
}
/*    .leftScreen {
      width: 50%;
      margin: 0 auto;
    }
    .rightScreen {
      width: 50%;
      margin: 0 auto;
    }
  } */
  
@media screen and (max-width: 767px) {
  .wrapper {
    max-width: 100%;
    padding: 0 10px;
  }
  
  .title {
    padding-top: 5px;
    padding-bottom: 8px;
  }
}

/* .main-wrapper {
  display: flex;
} */

.main-wrapper.after {
  content: "";
  display: table;
  clear: both;  
}

.leftScreen {
  flex: 50%;
  float: left;
  /* margin: 0 auto; */
  width: 100%;
  /* order: 2; */
}
  
.rightScreen {
    flex: 50%;
    float: right;
    /* margin: 0 auto; */
    width: 50%;
    /* order: 1; */
}
  
@media (max-width: 768px) {
  .leftScreen {
    width: 50%;
    /* order: 1; */
  }

  .rightScreen {
    width: 100%;
    /* order: 2; */
  }
}
  
.map-wrapper {
    position: relative;
    justify-content: center;
    width: 80%;
    height: 0;
    padding-bottom: 56.25%; /* Untuk mengatur aspect ratio menjadi 16:9 */
}

.map-container {
    position: relative;
    justify-content: center;
    width: 80%;
    height: 0;
    padding-bottom: 56.25%; /* Untuk mengatur aspect ratio menjadi 16:9 */
}
  
.map-container .leaflet-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
  
.tooltip-custom {
    font-style: italic;
    background: none;
    border: none;
    color: #ffffff;
    text-shadow: 0 0 3px #000000;
  }
  
  .leaflet-tooltip-custom:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #008000 transparent transparent transparent;
    top: 100%;
    left: 50%;
    margin-left: -6px;
  }
  
  .leaflet-tooltip-custom {
    background: none !important;
    color: #008000;
    font-style: italic;
    font-size: 12px;
    text-align: center;
    transform: rotate(45deg);
    margin-top: -6px;
  }
  